.container {
  display: flex;
  align-items: center;
  height: var(--header);
  position: sticky;
  top: 0;
  z-index: 10;
  background: #fff;
  box-shadow: 0 0 0 #999;
  transition: 0.1s;

  &.top {
    box-shadow: 0 0 4px #999;
  }

  >h1 {
    margin: 0;
    margin-left: 24px;
    font-weight: 900;
  }

  >button {
    border: 0;
    padding: 0;
    background: transparent;
    font-size: 16px;
    margin-left: 30px;

    &:hover {
      text-decoration: underline;
    }

    &:last-of-type {
      margin-right: 32px;
    }
  }
}
