.container {
  display: flex;
  align-items: center;
  padding: 0 40px;
  height: 80px;
  border-bottom: 2px solid #000;
  position: sticky;
  top: 0;
  z-index: 1;

  >.logo {
    margin-right: 10px;
  }

  >h1 {
    margin: 0;
  }

  >.link {
    margin-left: 30px;

    &:hover {
      text-decoration: underline;
    }
  }
}
