.container {
  display: flex;
  align-items: center;
  height: var(--header);
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 0 0 #999;
  background: transparent;
  transition: 0.25s;

  &.top {
    background: #fff;
    box-shadow: 0 0 4px #999;
  }

  > h1 {
    margin: 0;
    margin-left: 24px;
    font-weight: 900;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    @media (max-width: 575.98px) {
      &.big {
        display: none;
      }
    }

    @media (min-width: 576px) {
      &.small {
        display: none;
      }
    }
  }

  > button {
    border: 0;
    padding: 0;
    background: transparent;
    font-size: 16px;
    margin-left: 30px;
    color: #000;

    &:hover {
      text-decoration: underline;
    }

    &:last-of-type {
      margin-right: 32px;
    }
  }
}
