.container {
  display: flex;
  height: calc(100vh - var(--header));

  >.hello {
    padding: 60px;

    >h1 {
      font-weight: 400;
      font-size: 64px;
      margin: 0;
    }

    .link {
      >a {
        display: flex;
        align-items: center;
        width: fit-content;

        .arrow {
          opacity: 0;
          transition: 0.25s;
          transform: scale(0);
          position: absolute;
        }

        .content {
          display: flex;
          align-items: center;
          position: relative;
          left: 0;
          transition: 0.25s;
          padding-right: -24px;

          >svg {
            margin-right: 4px;
          }
        }

        &:hover {
          color: #2196f3;

          .content {
            left: 24px;
          }

          .arrow {
            opacity: 1;
            transform: scale(1);
          }
        }
      }
    }

    >p {
      display: flex;
      align-items: center;

      >svg {
        margin-right: 4px;
      }
    }
  }

  >.scrollButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 24px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 2px solid #000;
    border-radius: 32px;

    &:hover {
      color: #2196f3;
      border-color: #2196f3;
    }
  }
}
