.container {
  display: flex;
  height: calc(100vh - var(--header));
  padding: 60px;
  min-height: 550px;
  position: relative;

  @media (max-width: 499.98px) {
    padding: 20px 40px 40px 40px;
  }

  > .hello {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
    position: relative;
    text-align: center;

    > h1 {
      font-weight: 400;
      font-size: 64px;
      margin: 0;

      @media (max-width: 767.98px) {
        font-size: 48px;
      }

      @media (max-width: 575.98px) {
        font-size: 36px;
      }

      > b {
        font-weight: 600;
      }
    }

    > hr {
      border: 0;
      border-bottom: 1px solid #999;
      margin: 20px 0;

      &::after {
        position: absolute;
        left: 50%;
        transform: translate(-50%, calc(-50% + 0.5px));
        content: '';
        width: 8px;
        height: 8px;
        background: #222;
        border: 4px solid var(--background);
        border-radius: 50%;
      }
    }

    > .bio {
      line-height: 32px;

      @media (max-width: 575.98px) {
        font-size: 14px;
      }

      u {
        text-decoration-style: dotted;
      }
    }

    > .links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;

      > a {
        > svg {
          font-size: 64px;

          @media (max-width: 575.98px) {
            font-size: 48px;
          }
        }

        &:hover {
          color: var(--highlight);
        }
      }
    }
  }

  > .scrollButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 24px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 2px solid #000;
    border-radius: 32px;
    color: #000;

    &:hover {
      color: var(--highlight);
      border-color: var(--highlight);
    }
  }
}
