.container {
  display: flex;
  height: calc(100vh - var(--header));
  padding: 60px;
  min-height: 500px;
  position: relative;

  @media (max-width: 499.98px) {
    padding: 20px 40px 40px 40px;
  }

  >.hello {
    width: 50%;
    position: relative;

    >h1 {
      font-weight: 400;
      font-size: 64px;
      margin: 0;

      @media (max-width: 1199.98px) {
        text-align: center;
      }

      @media (max-width: 575.98px) {
        font-size: 48px;
      }

      @media (max-width: 499.98px) {
        font-size: 36px;
      }

      >b {
        font-weight: 600;
      }
    }

    >hr {
      border: 0;
      border-bottom: 1px solid #999;

      &::after {
        position: absolute;
        left: 50%;
        transform: translate(-50%, calc(-50% + 0.5px));
        content: "";
        width: 8px;
        height: 8px;
        background: #222;
        border: 4px solid #fff;
        border-radius: 50%;
      }
    }

    >.bio {
      line-height: 32px;

      u {
        text-decoration-style: dotted;
      }
    }

    >.links {
      @media (max-width: 1199.98px) {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
      }

      @media (max-width: 499.98px) {
        flex-direction: column;
      }

      >.link {
        @media (max-width: 499.98px) {
          margin: 0;

          &:first-of-type {
            margin-top: 1em;
          }
        }

        >a {
          display: flex;
          align-items: center;
          width: fit-content;

          .arrow {
            opacity: 0;
            transition: 0.25s;
            transform: scale(0);
            position: absolute;
          }

          .content {
            display: flex;
            align-items: center;
            position: relative;
            left: 0;
            transition: 0.25s;
            padding-right: -24px;

            >svg {
              margin-right: 4px;
            }
          }

          &:hover {
            color: var(--highlight);

            .content {
              left: 24px;
            }

            .arrow {
              opacity: 1;
              transform: scale(1);
            }
          }
        }
      }
    }

    @media (max-width: 1199.98px) {
      width: 100%;
      max-width: 660px;
      margin: 0 auto;
    }
  }

  >.latest {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    >p {
      margin: -16px 0 0 0;
      font-size: 24px;
    }

    >svg {
      font-size: 32px;
      margin: 16px 0;
    }

    >.player {
      image-rendering: pixelated;
      cursor: pointer;

      &:not(:hover) {
        >span:last-of-type {
          opacity: 0 !important;
          position: absolute !important;
        }
      }

      &:hover {
        >span:first-of-type {
          opacity: 0 !important;
          position: absolute !important;
        }
      }
    }

    @media (max-width: 1199.98px) {
      display: none;
    }
  }

  >.scrollButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 24px;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border: 2px solid #000;
    border-radius: 32px;
    color: #000;

    &:hover {
      color: var(--highlight);
      border-color: var(--highlight);
    }
  }
}
