.container {
  background: #f3f3f3;
  overflow: auto;
  padding: 0 20px;

  >h1 {
    text-align: center;
    margin: 32px 0 16px 0;
    font-size: 48px;
  }

  >.projectsWrapper {
    display: flex;
    justify-content: center;

    >.projects {
      margin: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      max-width: 1300px;
    }
  }
}
