.container {
  width: 280px;
  margin: 20px;
  padding: 20px;
  background: #eee;
  transition: 0.2s;

  >h2 {
    margin: 0 0 12px 0;
    position: relative;

    &:after {
      content: "";
      background: #000;
      position: absolute;
      bottom: -6px;
      left: 0;
      right: 0;
      height: 2px;
    }
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}
