.container {
  text-align: center;
  overflow: auto;
  background: #000;
  padding: 0 20px;

  > h1 {
    font-size: 48px;
    margin: 32px 0 -8px 0;
    color: #fff;
  }

  > .sections {
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
  }

  > p {
    color: #fff;
    margin: -16px 0 32px 0;
    font-size: 20px;
  }
}
