.container {
  display: flex;
  line-height: 28px;

  >h3 {
    width: 50%;
    text-align: right;
    font-size: 16px;
    padding-right: 8px;
    margin: 0;
  }

  >.icons {
    width: 50%;
    position: relative;
    padding-left: 8px;

    >div {
      text-align: left;
      width: fit-content;

      &:hover {
        text-decoration: underline;
        text-decoration-style: dotted;
      }
    }

    &:after {
      content: "";
      background: #000;
      position: absolute;
      width: 2px;
      bottom: 8px;
      top: 8px;
      left: -1px;
    }
  }
}
