:root {
  --header: 80px;
  --highlight: #2196f3;
  --hightlightHover: #3f51b5;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: 'Inter', sans-serif;
}

.url {
  text-decoration: underline;

  &:hover {
    color: var(--highlight);
  }
}

.wipe {
  padding: 10px 20px;
  margin: 10px;
  display: inline-block;
  font-weight: 400;
  position: relative;
  transition: 0.3s;
  z-index: 1;

  &:after {
    position: absolute;
    transition: 0.3s;
    content: '';
    width: 0;
    bottom: 0;
    height: 100%;
    background: #fff;
    right: 0;
    left: auto;
    z-index: -1;
  }

  &:hover {
    color: #000;

    &:after {
      width: 100%;
      left: 0;
    }
  }

  &.button {
    border: 1px solid #000;

    &:after {
      background: var(--highlight);
    }

    &:hover {
      color: #fff;
      border-color: var(--highlight);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    filter: invert(1);
  }
}
